/**
 * Fix user-agent
 * Parts of this CSS file are from https://getbootstrap.com/examples/offcanvas/ and socket.io
 */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.text-center {
  padding-top: 20px;
}

#sidebar  {
position: absolute;
left: -182px;
width: 200px;
height: 100%;
background-color: #ffffff;
border: 1px grey solid;
font-size: 12px;
}

#sidebar:hover  {
left: 0px;
}

/**
 * Canvas
 */

.whiteboard {
  height: auto;
  width: 100%;
  position: absolute; 
}

.colors {
  position: absolute;
}

.color {
  display: inline-block;
  height: 30px;
  width: 30px;
}

.color-xs {
  display: inline-block;
  height: 10px;
  width: 10px;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }
