/**
 * Fix user-agent
 * Parts of this CSS file are from https://getbootstrap.com/examples/offcanvas/ and socket.io
 */

* {
  padding: 0px;
  margin: 0px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e6f2ff;
}


/**
 * NAV
 */

#menu-icon {
  top: 5px;
  right: 2px;
  position: absolute;
}

#sidebar  {
position: absolute;
left: -102px;
width: 120px;
height: 100%;
background-color: #ffffff;
border: 1px grey solid;
font-size: 12px;
}

#sidebar:hover  {
left: 0px;
}

/**
 * Canvas
 */

.whiteboard {
  height: auto;
  width: 100%;
  position: absolute; 
}

.colors {
  position: absolute;
  left: 4px;
}

.color {
  display: block;
  height: 30px;
  width: 30px;
}

.color.black { background-color: black; }
.color.darkred { background-color: darkred; }
.color.green { background-color: green; }
.color.aquamarine { background-color: aquamarine; }
.color.gold { background-color: gold; }
.color.darkslateblue { background-color: darkslateblue; }
.color.greenyellow { background-color: greenyellow; }
.color.palevioletred { background-color: palevioletred; }
.color.lightseagreen { background-color: lightseagreen; }
.color.midnightblue { background-color: midnightblue; }
